body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 15px;
  box-sizing: border-box;
  
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  
}

li {
  background: #f9f9f9;
  border: 1px solid #6b6868;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

li h3 {
  margin-top: 0;
  color: #24292e;
}

li img {
  display: block;
  margin-bottom: 10px;
}

li p {
  margin: 5px 0;
  color: #666;
}

.card {
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.card-body {
  margin: 0 auto;
  
}

.btn {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.btn-primary {
  margin-top: 250px; 
  background-color: #007bff;
  color: white;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-lg {
  padding: 10px 20px;
  font-size: 1.25em;
}

.btn-block {
  display: block;
  width: 100%;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: .5rem;
  color: #495057;
  transition: all 0.3s;
  font-weight: 600; /* Makes the text slightly bolder */
}

.form-group input:focus + label {
  color: #007bff; /* Changes label color when input is focused */
}

.form-group input {
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-group input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Styling for the form controls */
.form-control {
  display: block;
  width: 90%;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Hover state for the form inputs for additional interactivity */
.form-group input:hover {
  border-color: #a8a8a8;
}

/* Style for containers of inputs */
.form-row {
  margin-right: -15px;
  margin-left: -15px;
}

.form-row > .col-md-6 {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 15px; /* Adds space between the form controls */
}

/* Responsive behavior for smaller devices */
@media (max-width: 576px) {
  .form-row > .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Styling the Button */
.btn-success {
  color: #fff;
  background-color: #305edb;
  border-color: #305edb;
}

.btn-success:hover {
  color: #fff;
  background-color: #3051ad;
  border-color: #2f4991;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

@media only screen and (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}



/*PRECIO TOTAL DESIGN*/
.total-price {
  font-size: 2rem; /* Tamaño grande de la fuente para hacerlo resaltante */
  color: #305edb; /* Un color verde que es asociado a menudo con precios en tiendas */
  font-weight: bold; /* Negrita para darle peso visual */
  margin: 20px 0; /* Espacio arriba y abajo del párrafo */
  padding: 10px; /* Espacio interno para que no se vea apretado */
  border-radius: 5px; /* Bordes redondeados para suavizar la estética */
  background-color: #f8f8f8; /* Un fondo sutil para resaltar el texto */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave para añadir profundidad */
  display: inline-block; /* Hacer que el fondo solamente rodee al texto */
}

/* Considera usar una fuente de Google Fonts para un aspecto más personalizado */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.total-price {
  font-family: 'Roboto', sans-serif;
}




/* Estilos del menú */

.menu-container {
  display: flex;
  overflow: hidden;
  /* Para ocultar el desbordamiento del contenido */
}

.sidebar {
  width: 200px;
  background-color: #333;
  padding: 20px;
  transition: width 0.3s ease;
}

.sidebar .user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar .user-info h2 {
  margin: 0;
}

.sidebar a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar a img {
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: auto;
  /* Permitir desplazamiento vertical en el contenido */
}

.menu-hidden .sidebar {
  width: 0;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.calendar-container {
  width: 100%;
  /* El calendario ocupará todo el ancho disponible */
  max-width: 600px;
  /* Establece un ancho máximo para evitar que el calendario abarque toda la pantalla */
  margin: 20px auto;
  /* Centra el calendario horizontalmente */
}

/* Estilos para hacer que el calendario sea más pequeño en dispositivos pequeños */
@media (max-width: 768px) {
  .calendar-container {
    max-width: 400px;
    /* Reduce el ancho máximo en dispositivos pequeños */
  }
}

/*botones*/
/* 3 */

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-3 {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;

}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}

