body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.col-md-6 {
  flex: 0 0 50%;
  
  padding: 15px;
  box-sizing: border-box;
  
}

.vistacompra{
  font-size: 2rem; /* Tamaño grande de la fuente para hacerlo resaltante */
  color: #305edb; /* Un color verde que es asociado a menudo con precios en tiendas */
  font-weight: bold; /* Negrita para darle peso visual */
  margin: 20px 0; /* Espacio arriba y abajo del párrafo */
  padding: 10px; /* Espacio interno para que no se vea apretado */
  border-radius: 5px; /* Bordes redondeados para suavizar la estética */
  background-color: #f8f8f8; /* Un fondo sutil para resaltar el texto */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave para añadir profundidad */
  display: inline-block; /* Hacer que el fondo solamente rodee al texto */
}

ul {
  list-style: none;
  padding: 0;
  
}

li {
  background: #f9f9f9;
  border-radius: 5px; /* Bordes redondeados para suavizar la estética */
  background-color: #f8f8f8; /* Un fondo sutil para resaltar el texto */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave para añadir profundidad */
  display: inline-block; /* Hacer que el fondo solamente rodee al texto */
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

li h3 {
  margin-top: 0;
  color: #24292e;
}

li img {
  display: block;
  margin-bottom: 10px;
}

li p {
  margin: 5px 0;
  color: #666;
}

.card-compra {
  background: #fff;
  
  
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px; /* Bordes redondeados para suavizar la estética */
  background-color: #f8f8f8; /* Un fondo sutil para resaltar el texto */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave para añadir profundidad */
}

.card-compra-body {
  margin: 0 auto;
  
}

.btn {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.btn-primary {
  margin-top: 250px; 
  background-color: #007bff;
  color: white;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-lg {
  padding: 10px 20px;
  font-size: 1.25em;
}

.btn-block {
  display: block;
  width: 100%;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: .5rem;
  color: #495057;
  transition: all 0.3s;
  font-weight: 600; /* Makes the text slightly bolder */
}

.form-group input:focus + label {
  color: #007bff; /* Changes label color when input is focused */
}

.form-group input {
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-group input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Styling for the form controls */
.form-control {
  display: block;
  width: 90%;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Hover state for the form inputs for additional interactivity */
.form-group input:hover {
  border-color: #a8a8a8;
}

/* Style for containers of inputs */
.form-row {
  margin-right: -15px;
  margin-left: -15px;
}

.form-row > .col-md-6 {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 15px; /* Adds space between the form controls */
}

/* Responsive behavior for smaller devices */
@media (max-width: 576px) {
  .form-row > .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Styling the Button */
.btn-success {
  color: #fff;
  background-color: #305edb;
  border-color: #305edb;
}

.btn-success:hover {
  color: #fff;
  background-color: #3051ad;
  border-color: #2f4991;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

@media only screen and (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}



/*PRECIO TOTAL DESIGN*/
.total-price {
  font-size: 2rem; /* Tamaño grande de la fuente para hacerlo resaltante */
  color: #305edb; /* Un color verde que es asociado a menudo con precios en tiendas */
  font-weight: bold; /* Negrita para darle peso visual */
  margin: 20px 0; /* Espacio arriba y abajo del párrafo */
  padding: 10px; /* Espacio interno para que no se vea apretado */
  border-radius: 5px; /* Bordes redondeados para suavizar la estética */
  background-color: #f8f8f8; /* Un fondo sutil para resaltar el texto */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave para añadir profundidad */
  display: inline-block; /* Hacer que el fondo solamente rodee al texto */
}

/* Considera usar una fuente de Google Fonts para un aspecto más personalizado */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.total-price {
  font-family: 'Roboto', sans-serif;
}




/* Estilos del menú */

.menu-container {
  display: flex;
  overflow: hidden;
  height: 100vh; /* Establecer la altura del menú para que ocupe toda la altura de la pantalla */
}

.sidebar {
  width: 250px;
  background-color: #0f4c75; /* Azul oscuro */
  padding: 0px;
  transition: width 0.3s ease;
  overflow-y: auto; /* Permitir desplazamiento vertical en la barra lateral */
}

.sidebar .user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar .user-info h2 {
  margin: 0;
  color: #fff; /* Texto blanco */
}

.sidebar a {
  display: flex;
  align-items: center;
  color: #fff; /* Texto blanco */
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
}

.sidebar a:hover {
  color: #0f4c75; /* Azul oscuro */
  background-color: #ffcc80; /* Amarillo claro */
  box-shadow: 0px 0px 10px rgba(15, 76, 117, 0.3); /* Sombra suave */
}

.sidebar a img {
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.sidebar a span {
  font-size: 16px;
}


.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f0f0f0; /* Gris claro */
  overflow-y: auto;
  /* Permitir desplazamiento vertical en el contenido */
}

.menu-hidden .sidebar {
  width: 0;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff; /* Texto blanco */
  background-color: #0f4c75; /* Azul oscuro */
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #ffcc80; /* Amarillo claro */
}

/***************************************************************/

.calendar-container {
  width: 100%;
  /* El calendario ocupará todo el ancho disponible */
  max-width: 600px;
  /* Establece un ancho máximo para evitar que el calendario abarque toda la pantalla */
  margin: 20px auto;
  /* Centra el calendario horizontalmente */
}

/* Estilos para hacer que el calendario sea más pequeño en dispositivos pequeños */
@media (max-width: 768px) {
  .calendar-container {
    max-width: 400px;
    /* Reduce el ancho máximo en dispositivos pequeños */
  }
}

.calendar-graph-container {
  display: flex;
  flex-direction: row;
}

.calendar-container {
  width: 60%; /* Ajusta el ancho del calendario según tus necesidades */
  padding-right: 10px; /* Agrega un poco de espacio entre el calendario y la gráfica */
}

.chart-container {
  width: 40%; /* Ajusta el ancho de la gráfica según tus necesidades */
  padding-left: 10px; /* Agrega un poco de espacio entre el calendario y la gráfica */
}

/*botones*/
/* 3 */

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-3 {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;

}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}

/*BOTONES PARA INCREMENTAR O BAJAR DISEÑO*/
.carrito-item {
  list-style: none;
  margin-bottom: 20px;
}

.carrito-imagen {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.btn-cantidad {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0 5px;
}

.btn-eliminar {
  background-color: #ff6347; /* O el color que prefieras */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px; /* Espacio adicional arriba del botón */
}

.btn-cantidad:hover,
.btn-eliminar:hover {
  opacity: 0.8;
}


/*QR COMPONENT STYLES*/

.qr-component {
  text-align: center;
  padding: 20px;
}

.qr-actions {
  margin-top: 20px;
}

.camera-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.webcam {
  max-width: 400px;
  margin-right: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
}

.scan-btn, .deactivate-btn, .file-upload-btn, .activate-btn {
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.scan-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.appointment-details {
  margin-top: 20px;
}

/* Estilos para la tabla de citas */
.appointment-table {
  margin: auto;
  text-align: center; /* Centra el contenido de la tabla */
  border-collapse: collapse;
  width: 80%; /* Ancho de la tabla */
  margin-top: 20px; /* Espacio superior */
  border: 2px solid black; /* Contorno negro */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra definida */
}

.appointment-table th {
  background-color: #007bff; /* Color de fondo del encabezado */
  color: #fff; /* Color del texto del encabezado */
  font-weight: bold; /* Fuente en negrita */
  padding: 10px; /* Espaciado interno */
}

.appointment-table td {
  padding: 10px; /* Espaciado interno */
  border-bottom: 1px solid #ddd; /* Borde inferior */
}

.appointment-table td:first-child {
  font-weight: bold; /* Fuente en negrita para la primera columna */
}

.appointment-table tbody tr:last-child td {
  border-bottom: none; /* Elimina el borde inferior de la última fila */
}

.file-section {
  margin-top: 20px;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #f7ffff 0%,
    #007bff 29%,
    #007bff 67%,
    #f7ffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}